body {
  font-size: 11px;
  font-family: 'Droid Sans', sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: #222222;
  /*background: url('../img/bg_pattern.png') 0 0 repeat;*/
  background-color: #cbf4f7;
}

input[type="number"] {
  width: 40px;
}

h1, h2, h3 {
  line-height: 22px;
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 1.1em;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


/* screen container and screens */
#lightbot_editor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 980px;
  height: 720px;
  margin-left: -490px;
  margin-top: -370px;
}

.ui-screen {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 700px;
}

#editorScreen {
  background-color: black;  
}

/* game screen */
#canvasContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 690px;
  height: 655px;
  background-color: white;
}

#buttonContainer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 690px;
  height: 30px;
  background-color: white;
}

#instructionsContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 275px;
  height: 690px;
  background-color: white;
}